In [1]:
#ワインデータのダウンロード
##必要な機能のimport
import pandas as pd#　                   データフレームを扱うための機能。
from urllib.request import urlretrieve#　ネット上からファイルをダウンロードし保存するのに使う機能。

##インターネットから使うデータをダウンロード。
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-white.csv"#　データがあるネット上のアドレス。
savepath = "winequality-white.csv"#　保存時のファイル名。
urlretrieve(url, savepath)#　        ネット上の"url"からファイルをダウンロードし、"savepath"の名前で保存。

##使うデータを確認
wine_df = pd.read_csv("winequality-white.csv",sep = ";", encoding = "utf-8")#　csvファイルを読み込む。今回は";"区切りのcsvであるためsep=";"とした。
wine_df# データを表示

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

In [2]:
x = wine_df.iloc[0, 0:11]
x

fixed acidity             7.000
volatile acidity          0.270
citric acid               0.360
residual sugar           20.700
chlorides                 0.045
free sulfur dioxide      45.000
total sulfur dioxide    170.000
density                   1.001
pH                        3.000
sulphates                 0.450
alcohol                   8.800
Name: 0, dtype: float64

In [3]:
#x.tolistで型変換して渡す。x.tolistと[x]は違うぽい。
data = {'x': x.tolist()}

In [4]:
import requests
url = 'https://first-heroku0359.herokuapp.com/'
res = requests.post(url, json=data)    #作成したAPIにデータを投げる

In [5]:
#200は成功の証
res

In [6]:
result = res.json()
result

{'y': 1}

### jupyter上でも動かしてみる

In [7]:
import joblib
clf = joblib.load('clf_wine_quality.pkl')

clf.predict([x])[0]

1

同じ結果が返ってきたね。